@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.flex-container.profile {
    min-width: 600px;
}

li {
  list-style-type: circle;
}

.skills-list {
  justify-content: space-around;
}

.list {
  margin: 0px 10px;
}

.column {
  padding: 15px;
}

#col-left {
  width: 30%;
  background-color: grey;
  text-align: center;
  padding-top: 50px;
}

#col-right {
  width: 60%;
  padding: 20px;
  background-color: lightgray;
  text-align: left;
}

#avatar {
  width: 50%;
  vertical-align: middle;
  border-radius: 50%;
}

#name {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.2em;
}

.trait {
  font-family: sans-serif;
  font-weight: bold;
}

.heading {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
}

.institute-name, .company-name {
  font-size: 1.1em;
  font-family: sans-serif;
  font-weight: bold;
}

.project-heading {
  font-family: sans-serif;
}

.degree-name, .role {
  font-style: italic;
}

.subject {
  line-height: 1.5em;
}

.project {
  line-height: .8em;
  padding-bottom: 10px;
  flex-grow: 1;
  width: 360px;
}

.section {
  padding-bottom: 35px;
  padding-top: 10px;
}

.section:last-child{
  padding-bottom: 5px;
}

.section:first-child {
  padding-top: 20px;
}

footer {
  font-size: small;
  text-align: right;
}
